a.btn:hover{
    text-decoration: underline;
}

img#portfolio{
    max-height: 100px;
    width: auto;
}

img#archive{
    max-height: 50px;
    width: auto;
}

img#mainPost{
    max-height: 500px;
    width: auto;
}

img#secPost{
    max-height: auto;
    width: 100px;
}

div#blogPost:hover{
    background-color: antiquewhite;
}

p.post_preview:hover{
    text-decoration: none;
}